<section class="flex flex-col items-center justify-center py-16">
  <div class="relative  mb-8 image pt-3 pl-3">



    <div class=" bg-[#F1F3FF] h-full">

      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <img src="/images/Center Icon with tonal depth.png" alt="" class="w-17.5">
      </div>


      <div class="absolute right-7 top-6">
        <img src="/images/Floating secondary icons for asymmetric interest.png" alt="" class="w-12">
      </div>


      <div class="absolute bottom-6 left-7">
        <img src="/images/Background+Shadow.png" alt="" class="w-10">
      </div>
    </div>


  </div>
  <div class="flex flex-col justify-center items-center">

    <h3 class="text-[2.25rem] font-semibold text-seconder-800 mb-2">No Projects</h3>
    <p class="text-[1.125rem] text-seconderText text-center max-w-105  mb-6 leading-7">
      You don't have any projects yet. Start by defining your first architectural workspace to begin tracking tasks and
      epics.
    </p>
    <button class="btnSend font-medium py-3 px-3 shadow-md text-sm">
      <!-- <span><i class="fa-solid fa-plus"></i></span> -->
      <span>Create New Project</span>
    </button>
  </div>
</section>
