<section class="flex justify-center w-full">
  <div
    class="w-full pt-8 pb-12 px-3 sm:px-6 lg:py-10 lg:px-6 flex flex-col gap-6 lg:gap-8 max-w-[390px] lg:max-w-4xl"
  >
    <div class="hidden lg:block">
      <app-breadcrumb [arrPaths]="arrPaths"></app-breadcrumb>
    </div>
    <!-- Header -->
    <div>
      <h2
        class="font-semibold lg:font-bold text-2xl lg:text-4xl text-[#041B3C] leading-8 tracking-[-0.6px] lg:leading-10 lg:tracking-[-0.9px]"
      >
        Create New Epic
      </h2>
      <p
        class="text-[#434654] text-[14px] lg:text-[16px] leading-[22.75px] lg:leading-6 tracking-normal w-full sm:w-85.5 lg:w-[462.6300048828125px]"
      >
        Define a major project phase or high-level milestone to group related tasks and track
        architectural progress.
      </p>
    </div>

    <app-new-epics></app-new-epics>
  </div>
</section>
