<div class="lg:flex items-center gap-2">
  <!-- Previous -->
  <button
    (click)="changePage(page() - 1)"
    [disabled]="page() === 1"
    [class.size-8]="variant() === 'numbers'"
    [class.w-[12.31px]]="variant() === 'compact'"
    [class.h-3.75]="variant() === 'compact'"
    [class.border]="variant() === 'numbers'"
    [class.border-[#C3C6D64D]]="variant() === 'numbers'"
    class="flex justify-center items-center cursor-pointer bg-white disabled:opacity-50 rounded-xs transition"
  >
    <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M3.5 7L0 3.5L3.5 0L4.31667 0.816667L1.63333 3.5L4.31667 6.18333L3.5 7Z"
        fill="#434654"
      />
    </svg>
  </button>

  @if (variant() === 'numbers') {
    @for (pageNumber of pages(); track pageNumber) {
      <button
        (click)="changePage(pageNumber)"
        class="size-8 pt-[6.5px] pb-[7.5px] rounded-xs border transition cursor-pointer border-[#C3C6D64D] flex items-center justify-center"
        [class.bg-primary]="page() === pageNumber"
        [class.text-white]="page() === pageNumber"
        [class.bg-white]="page() !== pageNumber"
        [class.hover:bg-gray-50]="page() !== pageNumber"
      >
        {{ pageNumber }}
      </button>
    }
  } @else {
    <span
      class="text-[#434654] text-xs font-medium min-w-[90px] text-center leading-4 tracking-normal"
    >
      Page {{ page() }} of {{ pages().length }}
    </span>
  }

  <!-- Next -->
  <button
    (click)="changePage(page() + 1)"
    [disabled]="page() === pages().length"
    [class.size-8]="variant() === 'numbers'"
    [class.w-[12.31px]]="variant() === 'compact'"
    [class.h-3.75]="variant() === 'compact'"
    [class.border]="variant() === 'numbers'"
    [class.border-[#C3C6D64D]]="variant() === 'numbers'"
    class="flex justify-center items-center cursor-pointer bg-white disabled:opacity-50 rounded-xs transition"
  >
    <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M2.68333 3.5L0 0.816667L0.816667 0L4.31667 3.5L0.816667 7L0 6.18333L2.68333 3.5Z"
        fill="#434654"
      />
    </svg>
  </button>
</div>
