<div class="fixed inset-0 bg-black/40 flex items-center justify-center z-50" (click)="closeModal()">
  <div
    class="bg-white rounded-lg w-full max-w-2xl max-h-230.25 overflow-y-auto shadow-[0px_25px_50px_-12px_rgba(0,0,0,0.25)]"
    (click)="$event.stopPropagation()"
  >
    <!-- Header -->

    <!-- Body -->
    <form [formGroup]="epicForm" class="flex flex-col gap-6">
      <!-- Title &&header-->
      <div
        class="bg-linear-to-r from-white to-[#F1F3FF] lg:linear-to-r lg:from-white px-6 pb-4 pt-6 lg:to-white border border-[#F1F3FF] lg:border-b lg:border-[#C3C6D626]/15 lg:p-8 flex flex-col justify-between lg:gap-4"
      >
        <div class="flex justify-between items-center gap-6">
          <div class="flex items-center gap-2">
            <span class="hidden lg:block">
              <svg
                width="20"
                height="14"
                viewBox="0 0 20 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 10V4C0 3.45 0.195833 2.97917 0.5875 2.5875C0.979167 2.19583 1.45 2 2 2C2.55 2 3.02083 2.19583 3.4125 2.5875C3.80417 2.97917 4 3.45 4 4V10C4 10.55 3.80417 11.0208 3.4125 11.4125C3.02083 11.8042 2.55 12 2 12C1.45 12 0.979167 11.8042 0.5875 11.4125C0.195833 11.0208 0 10.55 0 10ZM7 14C6.45 14 5.97917 13.8042 5.5875 13.4125C5.19583 13.0208 5 12.55 5 12V2C5 1.45 5.19583 0.979167 5.5875 0.5875C5.97917 0.195833 6.45 0 7 0H13C13.55 0 14.0208 0.195833 14.4125 0.5875C14.8042 0.979167 15 1.45 15 2V12C15 12.55 14.8042 13.0208 14.4125 13.4125C14.0208 13.8042 13.55 14 13 14H7ZM16 10V4C16 3.45 16.1958 2.97917 16.5875 2.5875C16.9792 2.19583 17.45 2 18 2C18.55 2 19.0208 2.19583 19.4125 2.5875C19.8042 2.97917 20 3.45 20 4V10C20 10.55 19.8042 11.0208 19.4125 11.4125C19.0208 11.8042 18.55 12 18 12C17.45 12 16.9792 11.8042 16.5875 11.4125C16.1958 11.0208 16 10.55 16 10Z"
                  fill="#003D9B"
                />
              </svg>
            </span>

            <span
              class="text-[#003D9B] text-[10px] lg:text-[#041B3C99]/60 lg:text-xs font-bold tracking-[0.6px] leading-4 uppercase"
            >
              {{ epic().epic_id }}
            </span>
          </div>
          <button (click)="closeModal()" class="cursor-pointer">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.4 22L8 20.6L13.6 15L8 9.4L9.4 8L15 13.6L20.6 8L22 9.4L16.4 15L22 20.6L20.6 22L15 16.4L9.4 22Z"
                fill="#041B3C"
                fill-opacity="0.6"
              />
            </svg>
          </button>
        </div>
        <div>
          <input
            type="text"
            (blur)="onTitleBlur()"
            formControlName="title"
            placeholder="Epic title"
            class="text-[16px] lg:text-[20px] font-bold text-[#041B3C] border border-[#C3C6D680]/50 lg:border-[#D7E2FF] rounded-xl p-2 lg:p-3 w-full tracking-normal leading-8 focus:outline-none focus:border-[#0052CC]"
            [class.border-red-400]="
              epicForm.get('title')?.invalid && epicForm.get('title')?.touched
            "
          />
          @if (epicForm.get('title')?.invalid && epicForm.get('title')?.touched) {
            <span class="text-red-500 text-[12px] mt-1 block">Title is required</span>
          }
        </div>
      </div>
      <div class="flex flex-col gap-8 p-8">
        <!-- Description -->
        <div>
          <label
            class="text-[11px] font-bold leading-[16.5px] tracking-[0.55px] uppercase lg:hidden text-[#4F5F7B] pb-1 ps-1 block"
            >Description</label
          >
          <textarea
            formControlName="description"
            (blur)="onDescriptionBlur()"
            rows="3"
            placeholder="No description provided"
            class="text-[14px] lg:text-[16px] leading-5 text-[#4F5F7B] lg:text-[#041B3C] border border-[#C3C6D680]/50 lg:border-[#D7E2FF] rounded-xl p-3 w-full resize-none focus:outline-none focus:border-[#0052CC] lg:leading-6.5 tracking-normal"
          ></textarea>
        </div>

        <!-- Meta grid: Created by / Assignee / Deadline / Created At -->
        <div class="grid grid-cols-2 lg:grid-cols-3 gap-6">
          <!-- Created By -->
          <div class="flex flex-col gap-2">
            <span class="text-[10px] font-semibold text-[#737685] tracking-wide uppercase">
              Created By
            </span>
            <div class="flex items-center gap-2">
              <div
                class="w-6 h-6 rounded-full bg-[#0B815A] text-white flex items-center justify-center text-[10px] font-semibold shrink-0"
              >
                {{ getInitials(epic().created_by.name) }}
              </div>
              <span class="text-[13px] font-medium text-[#041B3C]">
                {{ epic().created_by.name }}
              </span>
            </div>
          </div>

          <!-- Deadline -->
          <div class="lg:flex flex-col gap-2 hidden">
            <span class="text-[10px] font-semibold text-[#737685] tracking-wide uppercase">
              Deadline
            </span>
            <input
              (change)="onDeadlineChange()"
              type="date"
              formControlName="deadline"
              class="border border-[#D7E2FF] p-2 rounded-lg text-[14px] leading-5 tracking-normal font-medium w-full"
            />
          </div>

          <!-- Created At -->
          <div class="lg:flex flex-col gap-2 hidden">
            <span class="text-[10px] font-semibold text-[#737685] tracking-wide uppercase">
              Created At
            </span>
            <div class="flex items-center gap-2 text-[13px] text-[#041B3C]">
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2 5.5H12M4 2V3.5M10 2V3.5M3.5 3.5H10.5C11.0523 3.5 11.5 3.94772 11.5 4.5V11C11.5 11.5523 11.0523 12 10.5 12H3.5C2.94772 12 2.5 11.5523 2.5 11V4.5C2.5 3.94772 2.94772 3.5 3.5 3.5Z"
                  stroke="#737685"
                  stroke-width="1.2"
                  stroke-linecap="round"
                />
              </svg>
              {{ epic().created_at | date: 'MMM d, y' }}
            </div>
          </div>
        </div>
        <div class="border-t border-t-[#E8EDFF] pt-2 flex justify-between gap-2 lg:hidden w-full">
          <!-- Deadline -->
          <div class="flex flex-col gap-2">
            <span class="text-[10px] font-semibold text-[#737685] tracking-wide uppercase">
              Deadline
            </span>
            <input
              (change)="onDeadlineChange()"
              type="date"
              formControlName="deadline"
              class="border border-[#D7E2FF] p-2 rounded-lg text-[14px] leading-5 tracking-normal font-medium w-full"
            />
          </div>

          <!-- Created At -->
          <div class="flex flex-col gap-2">
            <span class="text-[10px] font-semibold text-[#737685] tracking-wide uppercase">
              Created At
            </span>
            <div class="flex items-center gap-2 text-[13px] text-[#041B3C]">
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2 5.5H12M4 2V3.5M10 2V3.5M3.5 3.5H10.5C11.0523 3.5 11.5 3.94772 11.5 4.5V11C11.5 11.5523 11.0523 12 10.5 12H3.5C2.94772 12 2.5 11.5523 2.5 11V4.5C2.5 3.94772 2.94772 3.5 3.5 3.5Z"
                  stroke="#737685"
                  stroke-width="1.2"
                  stroke-linecap="round"
                />
              </svg>
              {{ epic().created_at | date: 'MMM d, y' }}
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Tasks section -->
    <div class="px-6 pb-6 flex flex-col gap-3">
      <div class="flex justify-between items-center">
        <h4
          class="text-[11px] leading-[16.5px] tracking-[0.55px] uppercase font-bold text-[#4F5F7B] lg:text-[18px] lg:leading-7 lg:tracking-normal lg:font-semibold lg:text-[#041B3C]"
        >
          Tasks
        </h4>
        <a
          [routerLink]="['/project', epic().project_id, 'tasks', 'new']"
          class="hidden lg:flex items-center gap-1.5 text-[13px] font-semibold text-[#0052CC] hover:text-[#003D9B] cursor-pointer"
        >
          <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M5 6.5H0V5.5H5V0H6V5.5H11V6.5H6V12H5V6.5Z" fill="currentColor" />
          </svg>
          Add Task
        </a>
        <button
          class="bg-[#E0E8FF] py-0.5 px-2 rounded-xl lg:hidden font-bold text-[10px] leading-3.75 text-[#434654] tracking-normal"
        >
          0 Tasks
        </button>
      </div>

      @if (epicTasks().length === 0) {
        <div
          class="bg-[#F1F3FF80]/50 lg:bg-[#F1F3FF] rounded-lg flex flex-col items-center justify-center gap-3 p-8 lg:p-12 border-3 border-dashed border-[#C3C6D64D]/30"
        >
          <div class="pb-3 lg:pb-0">
            <div class="size-12 rounded-xl flex justify-center items-center bg-[#D7E2FF]">
              <span class="hidden lg:block">
                <svg
                  width="18"
                  height="16"
                  viewBox="0 0 18 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 15V13H18V15H6ZM6 9V7H18V9H6ZM6 3V1H18V3H6ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14C0 13.45 0.195833 12.9792 0.5875 12.5875C0.979167 12.1958 1.45 12 2 12C2.55 12 3.02083 12.1958 3.4125 12.5875C3.80417 12.9792 4 13.45 4 14C4 14.55 3.80417 15.0208 3.4125 15.4125C3.02083 15.8042 2.55 16 2 16ZM2 10C1.45 10 0.979167 9.80417 0.5875 9.4125C0.195833 9.02083 0 8.55 0 8C0 7.45 0.195833 6.97917 0.5875 6.5875C0.979167 6.19583 1.45 6 2 6C2.55 6 3.02083 6.19583 3.4125 6.5875C3.80417 6.97917 4 7.45 4 8C4 8.55 3.80417 9.02083 3.4125 9.4125C3.02083 9.80417 2.55 10 2 10ZM2 4C1.45 4 0.979167 3.80417 0.5875 3.4125C0.195833 3.02083 0 2.55 0 2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0C2.55 0 3.02083 0.195833 3.4125 0.5875C3.80417 0.979167 4 1.45 4 2C4 2.55 3.80417 3.02083 3.4125 3.4125C3.02083 3.80417 2.55 4 2 4Z"
                    fill="#041B3C"
                    fill-opacity="0.3"
                  />
                </svg>
              </span>
              <span class="block lg:hidden">
                <svg
                  width="18"
                  height="16"
                  viewBox="0 0 18 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 15V13H18V15H6ZM6 9V7H18V9H6ZM6 3V1H18V3H6ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14C0 13.45 0.195833 12.9792 0.5875 12.5875C0.979167 12.1958 1.45 12 2 12C2.55 12 3.02083 12.1958 3.4125 12.5875C3.80417 12.9792 4 13.45 4 14C4 14.55 3.80417 15.0208 3.4125 15.4125C3.02083 15.8042 2.55 16 2 16ZM2 10C1.45 10 0.979167 9.80417 0.5875 9.4125C0.195833 9.02083 0 8.55 0 8C0 7.45 0.195833 6.97917 0.5875 6.5875C0.979167 6.19583 1.45 6 2 6C2.55 6 3.02083 6.19583 3.4125 6.5875C3.80417 6.97917 4 7.45 4 8C4 8.55 3.80417 9.02083 3.4125 9.4125C3.02083 9.80417 2.55 10 2 10ZM2 4C1.45 4 0.979167 3.80417 0.5875 3.4125C0.195833 3.02083 0 2.55 0 2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0C2.55 0 3.02083 0.195833 3.4125 0.5875C3.80417 0.979167 4 1.45 4 2C4 2.55 3.80417 3.02083 3.4125 3.4125C3.02083 3.80417 2.55 4 2 4Z"
                    fill="#003D9B"
                  />
                </svg>
              </span>
            </div>
          </div>
          <p
            class="text-[14px] leading-5 font-normal lg:pt-4 pb-4 lg:pb-0 text-[#4F5F7B] lg:text-[16px] lg:text-[#041B3C5] lg:leading-6 tracking-normal lg:font-medium"
          >
            No tasks have been added to this epic yet
          </p>
          <div class="lg:pt-4">
            <a
              [routerLink]="['/project', epic().project_id, 'tasks', 'new']"
              class="btn-Primary bg-linear-to-r from-primary to-primary-container flex items-center gap-2 lg:gap-[7.99px] py-2 px-4 lg:py-2.5 lg:px-6 lg:text-[16px] lg:leading-6 lg:font-semibold lg:tracking-normal"
            >
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="white" />
              </svg>

              <span>Add Task</span>
            </a>
          </div>
        </div>
      } @else {
        <div class="flex flex-col gap-2">
          @for (task of epicTasks(); track task.id) {
            <div
              class="flex justify-between items-center border border-[#E4E7EC] rounded-lg px-4 py-3"
            >
              <span class="text-[13px] text-[#041B3C]">{{ task.title }}</span>
              <span class="text-[11px] text-[#737685]">{{ task.status }}</span>
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
